<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>906580987678-r63t7ejbu30ecujjmi7i34njjgs63g8n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.906580987678-r63t7ejbu30ecujjmi7i34njjgs63g8n</string>
	<key>API_KEY</key>
	<string>AIzaSyDKugRdcw4G2Fu1w2VZRwUkZx2x81vcrGY</string>
	<key>GCM_SENDER_ID</key>
	<string>906580987678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.whatsapp.clone.whatsappCl</string>
	<key>PROJECT_ID</key>
	<string>whatsappclone-8501b</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsappclone-8501b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:906580987678:ios:5de64abd7f32e04719830f</string>
</dict>
</plist>